.bgimage{
    background-image: url('../images/Chicago.jpg');
    background-position: center;
    background-size: cover;  
    height: 200px;
}

h1{
    color:green;
    font-size: 50px;
    font-family: 'Dancing Script', cursive;
    padding:20px 0;
    text-align: center;
    text-transform: capitalize;
}
.imgB{
    margin: 0px auto;
    width: 150px;
    height: 150px;
    display: block;
    padding-top: 10px;
}
input::placeholder {
  font-size: 1.2em;
  font-weight: lighter;
  color: #999;
}
.items{
    text-align: center;
}
@media(min-width:1200px)
{
    .imgB{
        margin: 0px auto;
        width: 90px;
        height: 90px;
        display: block;
        padding-top: 10px;
    }
    .items{
        text-align: left;
    }
}